@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,800&display=swap");
.containerIndex {
  display: grid;
  grid-template-areas: "section section section section" "header header header header" "main main main main" "footer footer footer footer";
  grid-template-columns: repeat(4, 4fr);
  grid-template-rows: auto; }
  .containerIndex .sectionIndex {
    grid-area: section;
    display: flex;
    justify-content: center; }
  .containerIndex .headerIndex {
    grid-area: header; }
  .containerIndex .mainIndex {
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 20px; }
    .containerIndex .mainIndex img {
      border: black 2px solid; }
  .containerIndex .footerIndex {
    grid-area: footer; }

@media only screen and (max-width: 375px) {
  .containerIndex {
    display: grid;
    grid-template-areas: "section section section section" "header header header header" "main main main main" "footer footer footer footer";
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: auto; }
    .containerIndex .sectionIndex {
      grid-area: section;
      display: flex;
      justify-content: center; }
    .containerIndex .headerIndex {
      grid-area: header; }
    .containerIndex .mainIndex {
      grid-area: main;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin: 20px; }
      .containerIndex .mainIndex img {
        border: black 2px solid;
        width: 350px; }
    .containerIndex .footerIndex {
      grid-area: footer; } }

@media only screen and (max-width: 420px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  body {
    background-image: url(/img/imagenVerdeFondo.jpg); }
    body .container {
      background-image: url(/img/imagenVerdeFondo.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      font-family: "Alegreya Sans", sans-serif;
      color: #ff0000; }
      body .container header {
        position: sticky;
        z-index: 100;
        top: 0; }
      body .container .bg-light1 {
        background-color: #01a151; }
        body .container .bg-light1 img {
          height: 40px;
          margin-left: 1px; }
        body .container .bg-light1 ul {
          letter-spacing: 4px;
          margin-left: 115px; }
          body .container .bg-light1 ul a {
            text-transform: uppercase;
            text-shadow: black;
            font-size: 18px; }
            body .container .bg-light1 ul a:hover {
              transform: scale(1.2, 1.2);
              background-color: #000000c9;
              border-radius: 10px;
              color: #000000; }
      body .container footer {
        bottom: 0; }
        body .container footer .bg-dark1 {
          background-color: #01a151; }
        body .container footer .sectionFooter {
          display: grid;
          grid-template-areas: "div1 div2 div3";
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr 1fr; }
          body .container footer .sectionFooter .div1 {
            grid-area: div1;
            margin: 10px;
            padding: 10px; }
            body .container footer .sectionFooter .div1 img {
              height: 60px; }
          body .container footer .sectionFooter .div2 {
            grid-area: div2;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center; }
            body .container footer .sectionFooter .div2 h3 {
              font-size: 20px; }
          body .container footer .sectionFooter .div3 {
            grid-area: div3;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center; } }
