@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,800&display=swap');


$bgNav: #cc7a00e1;


$Letrah1: 'Alegreya Sans', sans-serif;
$letrah2: 'arial';



$colorletra1:#ff0000;
$colorletra2:#000000;