@import"variables";
@import"index";
@import"nosotros";
@import"contacto";

@media only screen and (max-width: 420px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @mixin footerFormato ($grid, $align) {
        grid-area: $grid;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: $align;
    }

    body {
        .container {
            background-image: url(/img/imagenVerdeFondo.jpg);
            background-repeat: no-repeat;
            background-size: cover;




            font-family: $Letrah1;
            color: $colorletra1;


            header {
                position: sticky;
                z-index: 100;
                top: 0;
            }

            .bg-light1 {
                background-color: $bgPrincipal;

                img {
                    height: 40px;
                    margin-left: 1px;
                }

                ul {
                    letter-spacing: 4px;
                    margin-left: 115px;

                    a {
                        text-transform: uppercase;
                        text-shadow: black;
                        font-size: 18px;

                        &:hover {
                            transform: scale(1.2, 1.2);
                            background-color: #000000c9;
                            border-radius: 10px;
                            color: #000000;

                        }
                    }
                }
            }



            footer {

                bottom: 0;

                .bg-dark1 {
                    background-color: $bgPrincipal;

                }

                .sectionFooter {
                    display: grid;
                    grid-template-areas: "div1 div2 div3";
                    grid-template-rows: 1fr;
                    grid-template-columns: 1fr 1fr 1fr;

                    .div1 {
                        grid-area: div1;
                        margin: 10px;
                        padding: 10px;

                        img {
                            height: 60px;
                        }
                    }

                    .div2 {
                        @include footerFormato (div2, center);

                        h3 {
                            font-size: 20px;
                        }
                    }

                    .div3 {
                        @include footerFormato (div3, center);
                    }
                }
            }


        }
    }
}